body{
    font-family: 'Share Tech Mono', monospace;
}
h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    font-size: 1em;
    font-family: 'Black Ops One', cursive;
}

.container{
    margin: 0 auto;
    clear: both;
    max-width: 500px;
}

.calculator{
    display: block;
    border: 10px #aaa solid;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 300px;
    min-height: 400px;
    margin: 0 auto;
    background-color: #ccc; 
}

.tall {
    height: 50px;
}
/*
    style the calculator box so it has som shadow and looks a bit more 3D
    Make the buttons look cool
        when you click the button it should depress
    Lay the buttons out correctsly
*/